<div class="card w-50 auth-wrapper text-center mx-auto">
  <h2 class="card-header text-center">identifiez vous</h2>
  <div *ngIf="error" class="alert alert-danger">informations incorrectes</div>
  <!--on aura une balise form quand on sera faire-->
  <form class="card-body" (ngSubmit)="connexion()" #form="ngForm">
    <div class="form-group">
      <label for="login">username:</label>
      <input
        id="login"
        name="login"
        class="form-control"
        [(ngModel)]="login"
        required
        pattern="[a-z]+"
        #loginCtrl="ngModel"
      />
      <div *ngIf="loginCtrl.dirty && loginCtrl.invalid">*login obligatoire</div>
    </div>
    <div class="form-group">
      <label for="password">password:</label>
      <input
        id="password"
        name="password"
        required
        class="form-control"
        [(ngModel)]="password"
        #passwordCtrl="ngModel"
      />
      <div *ngIf="passwordCtrl.dirty && passwordCtrl.invalid">
        *password obligatoire
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="form.invalid"
    >
      connexion
    </button>
  </form>
</div>
